/* ---------------------------------------------------------------------
Variables
--------------------------------------------------------------------- */
:root {
    --font-default: 18px;
    --font-tiny: 11px;
    --font-small: 14px;
    --font-large: 26px;
    --font-huge: 32px;
    --line-height: 26px;
    --spacing-default: 14px;
}

@media (min-width: 1000px) {
    :root {
        --font-default: 22px;
        --font-tiny: 13px;
        --font-small: 18px;
        --font-large: 32px;
        --font-huge: 40px;
        --line-height: 32px;
        --spacing-default: 16px;
    }
}


/* ---------------------------------------------------------------------
Colors
--------------------------------------------------------------------- */
html {
    --color-base: #313b44;
    --color-bg: #d3dade;
    --color-accent: #4c9ebf;
    --color-hover: #356e85;
    --color-social: #707c80;
    --color-grass: #2c6853;
    --color-rust: #804535;
    --color-sun: #fcbd5f;
}

/* Dark Mode Colors */
@media screen and (prefers-color-scheme: dark) {
    html {
        --color-base: #fcfcfc;
        --color-bg: #1d1e1f;
    }
}


/* ---------------------------------------------------------------------
Layout
--------------------------------------------------------------------- */
* {
    box-sizing: border-box;
}

html {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: var(--font-default);
    line-height: var(--line-height);
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--color-bg);
    color: var(--color-base);
    margin: 0 var(--line-height);
}

header {
    display: grid;
    grid-gap: var(--line-height);
    grid-template-columns: 1fr;
    margin-bottom: var(--line-height);
    line-height: var(--line-height);
    padding-top: var(--line-height);
}

@media (min-width: 1000px) {
    header {
        grid-template-columns: repeat(2, 1fr);
    }
}

nav a {
    color: var(--color-accent);
    font-size: var(--font-default);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--color-hover);
    border-bottom: 3px solid var(--color-hover);
}

nav a:not(:last-child) {
    margin-right: var(--spacing-default);
}

a.logo {
    box-shadow: none;
}

a.logo svg {
    height: calc(4 * var(--line-height));
    width: calc(4 * var(--line-height));
}

@media (min-width: 1000px) {
    a.logo svg {
        height: calc(5 * var(--line-height));
        width: calc(5 * var(--line-height));
    }
}

a.logo svg * {
    fill: var(--color-accent);
    stroke: var(--color-accent);
}

a.logo:hover svg * {
    fill: var(--color-hover);/* --color-bg */
    stroke: var(--color-hover);
}

@media (min-width: 1000px) {
    article {
        margin-right: 50%;
    }
}


/* ---------------------------------------------------------------------
Footer
--------------------------------------------------------------------- */
footer {
    display: grid;
    grid-gap: var(--line-height);
    grid-template-columns: 1fr;
    line-height: var(--line-height);
    padding-top: calc(2 * var(--line-height));
    padding-bottom: var(--line-height);
}

/*@media (min-width: 1000px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}*/

a.back-to-top {
    color: var(--color-social);
    transition: opacity 0.3s ease;
    text-decoration: none;
}

a.back-to-top:hover {
    opacity: 0.5;
}

ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.social li {
    float: left;
}

ul.social li:not(:last-child) {
    margin-right: var(--line-height);
}

ul.social li a {
    border: none;
}

ul.social li a svg * {
    fill: var(--color-social);
}

ul.social li a:hover svg * {
    fill: var(--color-hover);
}

.copyright {
    font-size: var(--font-tiny);
}


/* ---------------------------------------------------------------------
Typography
--------------------------------------------------------------------- */
h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: var(--font-huge);
    font-weight: 500;
    letter-spacing: 0;
    line-height: var(--font-huge);
    margin-bottom: calc(1.3 * var(--font-huge));
}

h2 {
    font-size: var(--font-large);
    line-height: var(--font-large);
    margin-bottom: calc(1.3 * var(--font-huge));
}

a {
    color: var(--color-accent);
    font-weight: bold;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

p a, li a {
    border-bottom: 1px solid var(--color-accent);
}

a:hover {
    color: var(--color-hover);
}

@media (min-width: 1000px) {
    ul.clients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
